@font-face {
    font-family: "BMDOHYEON";
    src:url("/src/static/font/BMDOHYEON_ttf.ttf");
}

@font-face {
    font-family: "BMJUA";
    src:url("/src/static/font/BMJUA_ttf.ttf");
}

.fontBM_header{
    font-family: BMDOHYEON;
    font-size: 28px;
}

.fontBM_footer_big{
    font-family: BMDOHYEON;
    font-size: 20px;
    color: #F5EBDC;
}

.fontBM_footer_small{
    font-family: BMJUA;
    font-size: 15px;
    color: #F5EBDC;
}

.fontBM_NavBar{
    font-family: BMJUA;
    font-size: 18px;
}

.textDecorationNone{
    text-decoration: none;
}

.colorBlack{
    color: black;
}

.colorBlack:hover{
    color: black;
}

.colorWhite{
    color: white;
}
.colorWhite:hover{
    color: white;
}

.color_footer{
    color: #F5EBDC;
}

.color_footer:hover{
    color: #F5EBDC;
}

.w-full {
    width:100%;
}
.background_white{
    background-color: white;
}

.background_footer{
    background-color: #2B0200;
}

.mg0{
    margin: 0px;
}

.mgt30{
    margin-top: 30px;
}

.mgb20{
    margin-bottom: 20px;
}

.mgb5{
    margin-bottom: 5px;
}

.pd0{
    padding:0px;
}

.pt20{
    padding-top: 20px;
}

.pt40{
    padding-top: 40px;
}

.pb10{
    padding-bottom: 10px;
}

.pb40{
    padding-bottom: 40px;
}

w-full{
    width: 100%;
}

.listStyleNone{
    list-style: none;
    padding-left: 0px;
}

.min-w150{
    min-width: 150px;
}

.min-w220{
    min-width: 220px;
}

.min-w910{
    min-width: 910px;
}

.displayFlex{
    display: flex;
}