@font-face {
    font-family: "BMDOHYEON";
    src:url("/src/static/font/BMDOHYEON_ttf.ttf");
}

@font-face {
    font-family: "BMJUA";
    src:url("/src/static/font/BMJUA_ttf.ttf");
}

.fontBM_header{
    font-family: BMDOHYEON;
    font-size: 28px;
}

.fontBM_footer_big{
    font-family: BMDOHYEON;
    font-size: 20px;
    color: #F5EBDC;
}

.fontBM_detail_menuOne_big{
    font-family: BMDOHYEON;
    font-size: 30px;
}

.fontBM_MenuNavBar_big{
    font-family: BMJUA;
    font-weight: bold;
    font-size: 50px;
}

.fontBM_MenuModal{
    font-family: BMJUA;
    font-weight: bold;
    font-size: 35px;
}

.fontBM_MenuNavBar_small{
    font-family: BMJUA;
    font-size: 18px;
}

.fontBM_btn_menuDetail{
    font-family: BMJUA;
    font-size: 25px;
    font-weight: bold;
}

.fontBM_menuDetail{
    font-family: BMJUA;
    font-size: 20px;
}

.fontBM_footer_small{
    font-family: BMJUA;
    font-size: 15px;
    color: #F5EBDC;
}

.fontBM_NavBar{
    font-family: BMJUA;
    font-size: 18px;
}

.fontBM_MenuName{
    font-family: BMJUA;
    font-size: 23px;
}

.fontBM_MenuDetailBig{
    font-family: BMJUA;
    font-size: 70px;
}

.fontBM_MenuDetailSmall{
    font-family: BMDOHYEON;
    font-size: 20px;
}

.textDecorationNone{
    text-decoration: none;
}

.colorBlack{
    color: black;
}

.colorBlack:hover{
    color: black;
}

.colorWhite{
    color: white;
}
.colorWhite:hover{
    color: white;
}

.color_footer{
    color: #F5EBDC;
}

.color_footer:hover{
    color: #F5EBDC;
}

.color_MenuNavBar{
    color:#B8B8B8
}

.color_MenuNavBar:hover{
    color:#000000
}
.color_MenuNavBarActivate{
    color:#E22219;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;

}

.color_MenuNavBarActivate:hover{
    color:#E22219
}

.w-full {
    width:100%;
}

.h-full{
    height: 100%;
}

.modalInnerDiv{
    width: 660px;
    height: 480px;
}

.background_white{
    background-color: white;
}

.background_whitePink{
    background-color: #F2EBE6;
}

.background_footer{
    background-color: #2B0200;
}

.background_menuDetail_under{
    background-color: #262222;
}

.background_menuDetail_anotherMenu{
    background-color: #F2EBE6;
}

.background_F5EBDC{
    background-color: #F5EBDC;
}

.mg0{
    margin: 0px;
}

.mgt10{
    margin-top: 10px;
}

.mgt15{
    margin-top: 15px !important;
}

.mgt25{
    margin-top: 25px;
}

.mgt30{
    margin-top: 30px !important;
}

.mgt50{
    margin-top: 50px !important;
}

.mgt100{
    margin-top: 100px !important;
}

.mgb5{
    margin-bottom: 5px;
}

.mgb10{
    margin-bottom: 10px !important;
}

.mgb20{
    margin-bottom: 20px;
}

.mgb30{
    margin-bottom: 30px;
}

.mgb50{
    margin-bottom: 50px !important;
}

.mgb100{
    margin-bottom: 100px !important;
}

.mgr10{
    margin-right: 10px;
}

.mgl10{
    margin-left: 10px;
}

.mgl20{
    margin-left: 20px;
}

.mgl25{
    margin-left: 25px;
}

.mgl45{
    margin-left: 45px;
}

.pd0{
    padding:0px;
}

.pt10{
    padding-top: 10px;
}

.pt20{
    padding-top: 20px;
}

.pt40{
    padding-top: 40px;
}

.pb10{
    padding-bottom: 10px;
}

.pb15{
    padding-bottom: 15px;
}

.pb40{
    padding-bottom: 40px;
}

w-full{
    width: 100%;
}

.listStyleNone{
    list-style: none;
    padding-left: 0px;
}

.min-w150{
    min-width: 150px;
}

.min-w220{
    min-width: 220px;
}

.min-w910{
    min-width: 910px;
}

.displayFlex{
    display: flex;
}

.displayBlock{
    display: block;
}

.displayNone{
    display: none;
}

.textAlignCenter{
 text-align: center;
}

.alignItemsCenter{
    align-items: center;
}

.height400{
    height: 400px;
}

.height88{
    height: 88px;
}

.ft40{
    font-size: 40px;
}

.overFlowYScroll{
    overflow-y: auto;
}

.borderRadius15{
    border-radius: 15px;
}

.colorRed{
    color: red;
}

.colorGray{
    color: #C0C0C0;
}

.inputCustom{
    border: none;
    border-bottom: 1px solid black;
}

.customoverlay {position:relative;bottom:-30px;border-radius:15px;}
.customoverlay .title {display:block;text-align:center;padding:10px 15px ;font-size:20px; background-color: black; color: white; border-radius: 15px; font-family: BMJUA;}
